# Final Code

## Dictionaries to associate state, division, and region codes with states, according to the abbreviations used by US Soccer.

Below is a manually created dictionary to turn US Soccer state abbreviations into the proper name for the state.

In [7]:
stateabbreviations = {
    'Ala.': 'Alabama',
    'Alaska': 'Alaska',
    'Ariz.': 'Arizona',
    'Ark.': 'Arkansas',
    'Calif.': 'California',
    'Calif': 'California',
    'Colo.': 'Colorado',
    'Conn.': 'Connecticut',
    'Del.': 'Delaware',
    'D.C.': 'District of Columbia',
    'Fla.': 'Florida',
    'Ga.': 'Georgia',
    'Hawaii': 'Hawaii',
    'Idaho': 'Idaho',
    'Ill.': 'Illinois',
    'Ind.': 'Indiana',
    'Iowa': 'Iowa',
    'Kan.': 'Kansas',
    'Ky.': 'Kentucky',
    'La.': 'Louisiana',
    'Maine': 'Maine',
    'Md.': 'Maryland',
    'Mass.': 'Massachusetts',
    'Mich.': 'Michigan',
    'Minn.': 'Minnesota',
    'Miss.': 'Mississippi',
    'Mo.': 'Missouri',
    'Mont.': 'Montana',
    'Neb.': 'Nebraska',
    'Nev.': 'Nevada',
    'N.H.': 'New Hampshire',
    'N.J.': 'New Jersey',
    'N.M.': 'New Mexico',
    'N.Y.': 'New York',
    'N.C.': 'North Carolina',
    'N.D.': 'North Dakota',
    'Ohio': 'Ohio',
    'Okla.': 'Oklahoma',
    'Ore.': 'Oregon',
    'Pa.': 'Pennsylvania',
    'R.I.': 'Rhode Island',
    'S.C.': 'South Carolina',
    'S.D.': 'South Dakota',
    'Tenn.': 'Tennessee',
    'Texas': 'Texas',
    'Utah': 'Utah',
    'Vt.': 'Vermont',
    'Va.': 'Virginia',
    'Wash.': 'Washington',
    'W.V.': 'West Virginia',
    'Wis.': 'Wisconsin',
    'Wyo.': 'Wyoming'   
}

Next I used a csv file of census codes (geocodes.csv) to generate a dictionary that provides the state, division, and region codes for each state.

Census codes file downloaded from https://www2.census.gov/programs-surveys/popest/geographies/2016/state-geocodes-v2016.xls

In [8]:
import csv

geocodes = []
with open("geocodes.csv", "r", newline = "") as infile:
    csvin = csv.reader(infile)
    geoheaders = next(csvin)
    for line in csvin:
        geocodes.append(line)

name = geoheaders.index('Name')
state = geoheaders.index('State (FIPS)')
division = geoheaders.index('Division')
region = geoheaders.index('\ufeffRegion')

codedict = {}

for statecode in geocodes:
    codedict[statecode[name]] = {'State': statecode[state], 'Division': statecode[division], 'Region': statecode[region]}

## Read in player data and locate census codes and population for the hometowns of each player.

Documentation for playerdata.csv located at: 

Documentation for censusplace.csv located at:

In [9]:
import csv

# Read in the playerdata csv
playerinfo = []
with open("2018Data/USWNT/playerdata.csv", "r", newline = "") as infile:
    csvin = csv.reader(infile)
    playerheaders = next(csvin)
    for line in csvin:
        playerinfo.append(line)

hometown = playerheaders.index("Hometown") # Index the column that contains player hometowns

# Read in the census csv    
census = []
with open("2018Data/Census/censusplace.csv", "r", newline = "", encoding = 'latin-1') as infile:
    csvin = csv.reader(infile)
    censusheaders = next(csvin)
    for line in csvin:
        census.append(line) 

state_code = censusheaders.index("Geo_STATE")  # Index columns for state code, place name, and population
place_name = censusheaders.index("Geo_NAME")
population = censusheaders.index("SE_T001_001")


for player in playerinfo:
    splithometown = player[hometown].split(",") # Split hometown into town name and state
    state = splithometown[1].strip()
    playerdata_state = codedict[stateabbreviations[state]]['State']  # For each player, find the state, division, and region code for their state
    playerdata_division = codedict[stateabbreviations[state]]['Division']
    playerdata_region = codedict[stateabbreviations[state]]['Region']
    
    player.append(playerdata_state) # Add census codes for each player's state into the row of data
    player.append(playerdata_division)
    player.append(playerdata_region)

    townname = splithometown[0].strip()
    if townname == "St. Simons Island": # Exemptions for player town names that are listed differently in the census
        townname = "St. Simons"
    if townname == "Ventura":
        townname = "San Buenaventura"
    
    for place in census:
        censusstate = place[state_code]
        censushometown = place[place_name]
        if censushometown.startswith(townname) == True and censusstate == playerdata_state: # Searching only within the player's state, find matches to the name of the hometown, using startswith because of extraneous words at the end of the name
            if censushometown == "Mesa del Caballo CDP": # Filters out a duplicate match for a hometown
                pass
            else:
                player.append(place[population])
        else:
            pass     
        
playerheaders.append("State Code")
playerheaders.append("Division Code")
playerheaders.append("Region Code")
playerheaders.append("Hometown Population")

outfile = open('interimfile.csv', 'w')
csv_out = csv.writer(outfile)
csv_out.writerow(playerheaders)
csv_out.writerows(playerinfo)
outfile.close()

## Read in college data and merge it into the playerdata set to create a final dataset.

Note: this code is yet to come, since I have to do some editing of the process on the back end to make it possible.

In [21]:
import pandas as pd

collegedata = pd.read_csv("2018Data/Collegewiki/collegedata-clean.csv")
playerdata = pd.read_csv("interimfile.csv") 
collegeselect = collegedata[["Player Filename", "First College Name", "First College Location", "First College Enrollment", "First College Public", "First College Private", "First College Community", "Second College Name", "Second College Location", "Second College Enrollment", "Second College Public", "Second College Private", "Second College Community"]]
playerselect = playerdata[["Player Filename", 'Firstname', 'Surname', 'Position', 'Birthdate', 'Height', 'Hometown', 'Hometown Population', 'State Code', 'Region Code', 'Division Code']]

final = pd.merge(playerselect, collegeselect, on='Player Filename')

final
# collegeselect

,Player Filename,Firstname,Surname,Position,Birthdate,Height,Hometown,Hometown Population,State Code,Region Code,...,First College Enrollment,First College Public,First College Private,First College Community,Second College Name,Second College Location,Second College Enrollment,Second College Public,Second College Private,Second College Community
0,USWNT/ashley-hatch.html,Ashley,Hatch,Forward,1995-05-25T00:00:00Z,5-9,"Gilbert, Ariz.",208453.0,4,4,...,"33,633",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
1,USWNT/jessica-mcdonald.html,Jessica,McDonald,Forward,1988-02-28T00:00:00Z,5-10,"Glendale, Ariz.",226721.0,4,4,...,"12,000",n,n,y,University of North Carolina at Chapel Hill,"Chapel Hill,North Carolina","29,847",y,n,n
2,USWNT/andi-sullivan.html,Andi,Sullivan,Midfielder,1995-12-20T00:00:00Z,5-7,"Lorton, Va.",18610.0,51,3,...,"16,520",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
3,USWNT/sofia-huerta.html,Sofia,Huerta,Defender,1992-12-14T00:00:00Z,5-7,"Boise, Idaho",205671.0,16,4,...,"8,629",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
4,USWNT/savannah-mccaskill.html,Savannah,McCaskill,Forward,1996-07-31T00:00:00Z,5-4,"Chapin, S.C.",1445.0,45,3,...,"34,099",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
5,USWNT/emily-fox.html,Emily,Fox,Defender,1998-07-05T00:00:00Z,5-5,"Ashburn, Va.",43511.0,51,3,...,"29,847",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
6,USWNT/abby-dahlkemper.html,Abby,Dahlkemper,Defender,1993-05-13T00:00:00Z,5-7,"Menlo Park, Calif.",32026.0,6,4,...,"45,428",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
7,USWNT/carli-lloyd.html,Carli,Lloyd,Forward,1982-07-16T00:00:00Z,5-8,"Delran, N.J.",NaN,34,1,...,"40,720",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
8,USWNT/danielle-colaprico.html,Danielle,Colaprico,Midfielder,1993-09-06T00:00:00Z,5-5,"Freehold, N.J.",12052.0,34,1,...,"24,360",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
9,USWNT/lynn-williams.html,Lynn,Williams,Forward,1993-05-21T00:00:00Z,5-7,"Fresno, Calif.",494665.0,6,4,...,"7,710",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
10,USWNT/crystal-dunn.html,Crystal,Dunn,Defender,1992-07-03T00:00:00Z,5-1,"Rockville Centre, N.Y.",24023.0,36,1,...,"29,847",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
11,USWNT/megan-rapinoe.html,Megan,Rapinoe,Forward,1985-07-05T00:00:00Z,5-7,"Redding, Calif.",89861.0,6,4,...,"4,338",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
12,USWNT/tobin-heath.html,Tobin,Heath,Forward,1988-05-29T00:00:00Z,5-6,"Basking Ridge, N.J.",NaN,34,1,...,"29,847",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
13,USWNT/mallory-pugh.html,Mallory,Pugh,Forward,1998-04-29T00:00:00Z,5-5,"Highlands Ranch, Colo.",96713.0,8,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,USWNT/morgan-brian.html,Morgan,Brian,Midfielder,1993-02-26T00:00:00Z,5-7,"St. Simons Island, Ga.",12743.0,13,3,...,"24,360",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
15,USWNT/adrianna-franch.html,Adrianna,Franch,Goalkeeper,1990-11-12T00:00:00Z,5-9,"Salina, Kan.",47707.0,20,2,...,"25,295",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
16,USWNT/casey-short.html,Casey,Short,Defender,1990-08-23T00:00:00Z,5-7,"Naperville, Ill.",141853.0,17,2,...,"41,900",n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
17,USWNT/lindsey-horan.html,Lindsey,Horan,Midfielder,1994-05-26T00:00:00Z,5-9,"Golden, Colo.",18867.0,8,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,USWNT/alyssa-naeher.html,Alyssa,Naeher,Goalkeeper,1988-04-20T00:00:00Z,5-9,"Stratford, Conn.",51384.0,9,1,...,"99,133, • 47,307",n,n,n,NaN,NaN,NaN,NaN,NaN,NaN
19,USWNT/haley-hanson.html,Haley,Hanson,Midfielder,1996-02-22T00:00:00Z,5-6,"Lincoln, Neb.",258379.0,31,2,...,"25,820",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
20,USWNT/merritt-mathias.html,Merritt,Mathias,Defender,1990-07-02T00:00:00Z,5-3,"Birmingham, Ala.",212237.0,1,3,...,"29,847",y,n,n,Texas A&M University,"College Station,Texas","69,367",y,n,n
21,USWNT/mccall-zerboni.html,McCall,Zerboni,Midfielder,1986-12-13T00:00:00Z,5-4,"Camarillo, Calif.",65201.0,6,4,...,"45,428",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
22,USWNT/tierna-davidson.html,Tierna,Davidson,Defender,1998-09-19T00:00:00Z,5-10,"Menlo Park, Calif.",32026.0,6,4,...,"16,520",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
23,USWNT/samantha-mewis.html,Samantha,Mewis,Midfielder,1992-10-09T00:00:00Z,6-0,"Hanson, Mass.",2118.0,25,1,...,"45,428",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
24,USWNT/alex-morgan.html,Alex,Morgan,Forward,1989-07-02T00:00:00Z,5-7,"Diamond Bar, Calif.",55544.0,6,4,...,"42,519",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
25,USWNT/taylor-smith.html,Taylor,Smith,Defender,1993-12-01T00:00:00Z,5-3,"Fort Worth, Texas",741206.0,48,3,...,"45,428",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
26,USWNT/rose-lavelle.html,Rose,Lavelle,Midfielder,1995-05-14T00:00:00Z,5-4,"Cincinnati, Ohio",296943.0,39,2,...,"44,413",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
27,USWNT/kelley-ohara.html,Kelley,O'Hara,Defender,1988-08-04T00:00:00Z,5-5,"Fayetteville, Ga.",15945.0,13,3,...,"16,520",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
28,USWNT/allie-long.html,Allie,Long,Midfielder,1987-08-13T00:00:00Z,5-8,"Northport, N.Y.",7401.0,36,1,...,"99,133, • 47,307",n,n,n,University of North Carolina at Chapel Hill,"Chapel Hill,North Carolina","29,847",y,n,n
29,USWNT/ashlyn-harris.html,Ashlyn,Harris,Goalkeeper,1985-10-19T00:00:00Z,5-9,"Satellite Beach, Fla.",10109.0,12,3,...,"29,847",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
30,USWNT/emily-sonnett.html,Emily,Sonnett,Defender,1993-11-25T00:00:00Z,5-7,"Marietta, Ga.",56579.0,13,3,...,"24,360",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
31,USWNT/julie-johnston.html,Julie,Ertz,Midfielder,1992-04-06T00:00:00Z,5-7,"Mesa, Ariz.",439041.0,4,4,...,"8,629",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
32,USWNT/tegan-mcgrady.html,Tegan,McGrady,Defender,1997-10-11T00:00:00Z,5-6,"San Jose, Calif",945942.0,6,4,...,"16,520",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
33,USWNT/amy-rodriguez.html,Amy,Rodriguez,Forward,1987-02-17T00:00:00Z,5-4,"Lake Forest, Calif.",77264.0,6,4,...,"45,687",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
34,USWNT/jane-campbell.html,Jane,Campbell,Goalkeeper,1995-02-17T00:00:00Z,5-9,"Kennesaw, Ga.",29783.0,13,3,...,"16,520",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
35,USWNT/becky-sauerbrunn.html,Becky,Sauerbrunn,Defender,1985-06-06T00:00:00Z,5-7,"St. Louis, Mo.",319294.0,29,2,...,"24,360",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN
36,USWNT/christen-press.html,Christen,Press,Forward,1988-12-29T00:00:00Z,5-7,"Palos Verdes Estates, Calif.",13438.0,6,4,...,"16,520",n,y,n,NaN,NaN,NaN,NaN,NaN,NaN
37,USWNT/hailie-mace.html,Hailie,Mace,Defender,1997-03-24T00:00:00Z,5-7,"Ventura, Calif.",106433.0,6,4,...,"45,428",y,n,n,NaN,NaN,NaN,NaN,NaN,NaN